<nav class="navbar navbar-fixed-top blue-header">
    <span class="navbar-brand navbar-default blue-header">
        <a href="#/user/{{model.userId}}/" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left pull-left blue-header-icon"></span>
        </a>
    </span>
    <span class="navbar-brand blue-header-text text-right">Websites</span>
    <span class="navbar-brand navbar-default pull-right blue-header">
        <a href="#/user/{{model.userId}}/website/new" class="navbar-link ">
            <span class="glyphicon glyphicon-plus blue-header-icon"></span>
        </a>
    </span>
    </nav>

<div class="container-fluid borderless">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <ul class="list-group ">
        <li ng-repeat="website in model.websites" class="list-group-item borderless">
            <h4>
                <a href="#/user/{{website.developerId}}/website/{{website._id}}/page/">{{website.name}}</a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}/" class="navbar-link ">
                    <span class="glyphicon glyphicon-cog body-icon pull-right"></span>
                </a>
            </h4>
        </li>

    </ul>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom blue-footer">
        <div class="container-fluid">
            <div class="row container-fluid navbar-text pull-right">
                <a href="#/user/{{model.userId}}/">
                    <span class="glyphicon glyphicon-user blue-footer-text"></span>
                </a>
            </div>
        </div>
    </nav>

