input.form-control {
    margin-bottom: 5px
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.glyphicon-inverse {
    color: #fff
}
.header {

}
.header-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 0px;
}
.header-icon {
    color: black;
    font-size: 15px;
    padding-top: 3px;
}
.footer{
}
.footer-text {

}

.body-icon {

    font-size: 16px;
    color: #337ab7;
    padding-left: 10px;
}

.row-padding {
    padding-left: 10px;
}

li {
    padding-top: 3px;
    color: #337ab7;
}

li.borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    padding-right: 0px;
}

.right-padding-zero {
    padding-right: 0px;
}

@media only screen and (orientation: portrait) {
     .soumya {
         display: none;
         width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    .soumya {

    }
}
