input.form-control {
    margin-bottom: 5px
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.glyphicon-inverse {
    color: #fff
}
.blue-header {
    background-color: #337ab7
}
.header {

}
.blue-header-text {
    background-color: #337ab7;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.header-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 0px;
}
.blue-header-icon {
    background-color: #337ab7;
    font-size: 15px;
    color: white;
    padding-top: 3px;
}
.header-icon {
    color: black;
    font-size: 15px;
    padding-top: 3px;
}
.blue-footer{
    background-color: #337ab7
}
.blue-footer-text {
    background-color: #337ab7;
    color: white;
}
.footer{
}
.footer-text {

}

.body-icon {
    font-size: 16px;
    color: #337ab7;
    padding-left: 10px;
}

.row-padding {
    padding-left: 10px;
}

li {
    padding-top: 3px;
    color: #337ab7;
}

li.borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

.right-padding-zero {
    padding-right: 0px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.v-divider{
    width:1px;
    background-color: black;
    left: 33%;
    position: absolute;
    z-index: 5;
    top:0;
    bottom: 0;
}

.relative-position {
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0px;
}

.scroll-y {
    overflow-y: scroll;
    position: relative;
    height: -moz-calc(100vh - 130px); /* Firefox */
    height: -webkit-calc(100vh - 130px); /* Chrome, Safari */
}
.borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    padding-right: 0px;
}
.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

