<nav class="navbar navbar-fixed-top navbar-default header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
    <span class="navbar-brand navbar-default header-text text-right">Pages</span>
    <span class="navbar-brand navbar-default pull-right ">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new/" class="navbar-link ">
                <span class="glyphicon glyphicon-plus header-icon"></span>
            </a>
        </span>
</nav>

<div class="container-fluid borderless">
    <ul class="list-group ">
        <li ng-repeat="page in model.pages" class="list-group-item borderless">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget/">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/" class="navbar-link">
                <span class="glyphicon glyphicon-cog body-icon pull-right"></span>
            </a>
        </li>
    </ul>

    <nav class="navbar navbar-default navbar-fixed-bottom footer">
        <div class="container-fluid">
            <div class="row container-fluid navbar-text pull-right">
                <a href="#/user/{{model.userId}}/">
                    <span class="glyphicon glyphicon-user footer-text"></span>
                </a>
            </div>
        </div>
    </nav>
</div>
