<div class="container" ng-controller="LoginController as model">
<h2>Login</h2>
    <span ng-show="model.error">
        {{model.error}}
    </span>
<form name="loginForm">

    <input ng-model="model.user.username"
           placeholder="username"
           required
           name="username"
           class="form-control"/>
    <span ng-show="loginForm.username.$invalid">
        {{model.error}}
    </span>

    <input ng-model="model.user.password"
           placeholder="password"
           required
           class="form-control"/>

    <button type="submit"
            class="btn btn-primary btn-block    "
            ng-click="model.login(model.user.username, model.user.password)">
        Login
    </button>

</form>
<a href="#/register"
   class="btn btn-success btn-block">
    Register
</a>

<a href="/auth/facebook"
   class="btn btn-primary btn-block">
    <span class="fa fa-facebook"></span>
    Facebook
</a>
</div>