<div class="container-fluid">
    <nav class="navbar navbar-fixed-top blue-header">

        <a class="navbar-brand blue-header-text" href="#">Profile</a>
        <span class="navbar-brand navbar-default pull-right blue-header">
            <a ng-click="model.updateUser(model.user)" href="#/user/{{model.user._id}}/" class="navbar-link ">
                <span class=" blue-header-icon glyphicon glyphicon-ok "></span>
            </a>
        </span>
    </nav>

    <div class="container-fluid">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div ng-show="model.success" class="alert alert-success" role="alert">
            {{model.success}}
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" ng-model="model.user.email"
                       class="form-control" id="email" placeholder="yourname@gmail.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" ng-model="model.user.firstName"
                       class="form-control" id="first-name" placeholder="P1">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" ng-model="model.user.lastName"
                       id="last-name" placeholder="p2">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="#/user/{{model.user._id}}/website">Websites</a>
        <a ng-click="model.unregisterUser(model.user)" class="btn btn-warning btn-block"
           href="#/login">Unregister</a>
        <a class="btn btn-danger btn-block"
           href="#/login">Logout</a>

        <nav class="navbar navbar-default navbar-fixed-bottom blue-footer">
            <div class="container-fluid">
                <div class="row container-fluid navbar-text pull-right">
                    <a href="#">
                        <span class="glyphicon glyphicon-user blue-footer-text"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
