<div class="container">
    <h1>Register</h1>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="registerForm">
        <input ng-model="model.user.username"
               type="text"
               class="form-control"
               required
               placeholder="User Name"/>
        <input ng-model="model.user.password"
               type="password"
               class="form-control"
               required
               placeholder="Password"/>
        <input ng-model ="model.user.password2"
               type="password"
               class="form-control"
               required
               placeholder="Verify Password"/>
    </form>
    <button type="submit"
            class="btn btn-primary btn-block"
            ng-click="model.register(model.user.username, model.user.password,model.user.password2)">
        Register
    </button>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>

</div>
