<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input  type="text" class="form-control" id="widgetName" placeholder="Widget Heading">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input  type="text" class="form-control" id="text" placeholder="Widget text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="url" placeholder="https://asdf.com/image.png">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="number" class="form-control" id="width" placeholder="100">
        </div>
        <div class="form-group">
            <label for="fileUpload">Upload</label>
            <input type="file" class="form-control" id="fileUpload">
        </div>


    </form>
    <a class="btn btn-primary btn-block"
       href="../views/page/page-list.view.client.html">Upload Image</a>
    <a class="btn btn-danger btn-block"
       href="../views/page/page-list.view.client.html">Delete</a>
    <nav class="navbar navbar-default navbar-fixed-bottom footer">
        <div class="container-fluid">
            <div class="row container-fluid navbar-default navbar-text pull-right">
                <a href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user footer-text"></span>
                </a>
            </div>
        </div>
    </nav>
</div>