<nav class="navbar navbar-fixed-top navbar-default header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
    <span class="navbar-brand navbar-default header-text text-right">Widgets</span>
    <span class="navbar-brand navbar-default pull-right ">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/" class="navbar-link ">
                <span class="glyphicon glyphicon-plus header-icon"></span>
            </a>
        </span>
</nav>

<div class="row container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div>
        <div ng-switch="widget.widgetType"
             ng-repeat="widget in model.widgets">

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>

            <div ng-switch="widget.size" ng-switch-when="HEADER">

                <h1 ng-switch-when=1>{{widget.text}}</h1>
                <h2 ng-switch-when=2>{{widget.text}}</h2>
                <h3 ng-switch-when=3>{{widget.text}}</h3>
                <h4 ng-switch-when=4>{{widget.text}}</h4>
                <h5 ng-switch-when=5>{{widget.text}}</h5>
                <h6 ng-switch-when=6>{{widget.text}}</h6>
            </div>

            <div ng-switch-when="YOUTUBE">
                <iframe width={{model.width}} height="315"
                        ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            <div ng-switch-when="IMAGE">
                <img class="img-responsive" ng-src="{{model.checkSafeImageUrl(widget.url)}}">
            </div>
            <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
            </div>
        </div>
    </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom footer">
        <div class="container-fluid">
            <div class="row container-fluid navbar-text pull-right">
                <a href="#/user/{{model.userId}}/">
                    <span class="glyphicon glyphicon-user footer-text"></span>
                </a>
            </div>
        </div>
    </nav>
