 <nav class="navbar navbar-fixed-top navbar-default header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
        <span class="navbar-brand navbar-default header-text text-right">Choose Widget</span>
    </nav>

    <div class="container-fluid borderless">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <ul class="list-group ">
            <li class="list-group-item borderless">
                <a ng-click="model.addWidget('HEADER')">Header</a>
            </li>
            <li class="list-group-item borderless">
                <a href ng-click="model.addWidget('IMAGE')" class="navbar-link">Image</a>
            </li>

            <li class="list-group-item borderless">
                <a class="navbar-link" ng-click="model.addWidget('YOUTUBE')">YouTube</a>
            </li>

            <li class="list-group-item borderless">
                <a ng-click="model.addWidget('HTML')" class="navbar-link ">HTML</a>
            <li class="list-group-item borderless">
                <a href="#" class="navbar-link ">Label</a>
            </li>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.addWidget('TEXT')" class="navbar-link ">Text Input</a>
            </li>
            <li class="list-group-item borderless">
                <a href="#" class="navbar-link ">Link</a>
            </li>
            <li class="list-group-item borderless">
                <a href="#" class="navbar-link ">Button</a>
            </li>
            <li class="list-group-item borderless">
            <li class="list-group-item borderless">
                <a href="#" class="navbar-link ">Data Table</a>
            </li>
            <li class="list-group-item borderless">
                <a href="#" class="navbar-link ">Repeater</a>
            </li>
        </ul>

        <nav class="navbar navbar-default navbar-fixed-bottom footer">
            <div class="container-fluid">
                <div class="row container-fluid navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/">
                        <span class="glyphicon glyphicon-user footer-text"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
