<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div class="container">
        <form name="form">
            <div class="form-group" ng-class="{'has-error': form.name.$touched && form.name.$invalid}">
                <label for="name">Name</label>
                <input ng-model="model.widget.name"
                       name="name"
                       type="text"
                       class="form-control"
                       id="name"
                       placeholder="HTML Name"
                       required>
                <span ng-show="form.name.$touched && form.name.$invalid" class="error">Name is a required field.</span>
            </div>
            <div class="input-label">HTML</div>
            <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]">
            </div>
        </form>
        <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block"
           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/">Delete</a>
    </div>

</div>