<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input type="text" class="form-control" id="widgetName" placeholder="Widget Heading">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="Widget text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="url" placeholder="https://youtube.com/watch?v=rvZw70p4XPY">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="number" class="form-control" id="width" placeholder="100">
        </div>

    </form>
</div>